@import url(reset.css);

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8b93ff;
  --secondary-color: #ff71cd;

  --fw-regular: 500;
  --fw-medium: 600;
  --fw-semibold: 700;
  --fw-bold: 800;

  --fs-h1: clamp(0.8rem, 8vw + 0.8rem, 5.4rem);
  --fs-h2: clamp(0.8rem, 7vw + 0.4rem, 3.5rem);
  --fs-h3: clamp(0.6rem, 7vw + 0.4rem, 3rem);
  --fs-h4: clamp(0.5rem, 6vw + 0.2rem, 2.4rem);
  --fs-h5: clamp(0.4rem, 5vw + 0.2rem, 1.5rem);
  --fs-p: clamp(0.3rem, 3vw + 0.3rem, 1.25rem);
  --fs-small: clamp(0.25rem, 3vw + 0.3rem, 1.1rem);
  --fs-smaller: clamp(0.2rem, 3vw + 0.3rem, 1rem);
  --fs-smallest: clamp(0.2rem, 3vw + 0.3rem, 0.9rem);
}

html {
  background-color: #fff;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-block-start: 250px;
  max-width: 1600px;
  margin-inline: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: initial;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: -1.2px;
}

h2 {
  font-size: var(--fs-h2);
  letter-spacing: -0.7px;
}

h3 {
  font-size: var(--fs-h3);
  letter-spacing: -0.48px;
}

h4 {
  font-size: var(--fs-h4);
  letter-spacing: -0.28px;
}

h5 {
  font-size: var(--fs-h5);
  letter-spacing: -0.1px;
}

p {
  font-size: var(--fs-p);
  line-height: 2;
  max-width: 40ch;
}
